[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "deep-translator>=1.11.4",
    "nltk>=3.9.2",
    "simplemma>=0.9.1",
    "stanza>=1.10.1",
]
